body {
    width: 100%;
    height: 100vh;  
    background: #000;
    overflow: hidden;
}

.cursor,
.cursor2,
.cursor3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;   
}

.cursor {
    background-color: white;
    height: 0;
    width: 0;
    z-index: 99999;
}

.cursor2, .cursor3 {
    height: 36px;
    width: 36px;
    z-index: 99998;
    transition: all 0.3s ease-out;
}

.cursor2.hover,
.cursor3.hover {
    transform: scale(2) translateX(-25%) translateY(-25%);
    border: none;
}

.cursor2 {
    border: 2px solid white;
    box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.cursor2 {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);

}

.section {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
    background-color: #212121;
}

.case-study-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: auto;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    list-style: none;
}

.case-study-wrapper .case-study-name a {
    position: relative;
    list-style: none;
    margin: 0;
    display: block;
    text-align: center;
    padding: 0;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: tahoma;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 2px;
    color: #8e8d9a;
    opacity: 0.5;
    text-decoration: none;
    transition: all 300ms linear;
}

.case-study-wrapper .case-study-name a:hover {
    text-decoration: none;
}

.case-study-wrapper .case-study-name.active a{
    opacity: 1;
    color: white;
}

.case-study-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
}

.case-study-images li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    list-style: none;
    transition: all 300ms linear;
}

